/* #region Utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
  width: 70%;
  max-width: 1140px;
  margin: auto;
}

.d-flex
{
  display: flex;
}

.logo, .login
{
  flex-grow: 1;
}

.main-menu
{
  flex-grow: 4;
  text-align: center;
}

.login
{
  text-align: end;
}



/* #endregion Utility */

/* #region dbg */

.dbg > header
{
  background-color: aquamarine;
}


/* #endregion dbg */